# Git LFS - file binari grandi
*.tif filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text

# Unity serialized
*.unity merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.prefab merge=unityyamlmerge

# Forza LF per script
*.cs text eol=lf
*.shader text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf
